/* Import Mulish font*/
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
.events-container {
  width: 90%;
  margin: 0 auto;
  background-color: #faf7f2;
  border-radius: 10px;
  font-family: "Mulish", sans-serif;
}

.navbarEvents__container {
  background-color: #faf7f2;
  color: grey;
  border-bottom: 1px solid rgb(202, 198, 198);
}

.navbarEvents__list {
  display: flex;
  justify-content: space-between;
  background-color: #faf7f2;
  color: grey;
  padding: 3px 8px;
}

.navbarEvents__list button {
  list-style-type: none;
  background-color: #faf7f2;
  color: grey;
  border: none;
  text-align: left;
  margin: 4px;
}

.navbarEvents__listItemsSelected {
  border: 1px solid orangered;
  color: white;
  padding: 6px 8px;
  border-radius: 10px;
}
.navbarEvents__listItems:hover {
  border: 1px solid orangered;
  padding: 6px 8px;
  border-radius: 10px;
}

.navbarEvents__listItems span {
  margin-right: 15px;
  background-color: transparent;
  /* border: 2px solid black;*/
}

.navbarEvents__listItems img {
  background-color: #faf7f2;
}
.sizeReduce {
  height: 30px;
  width: 30px;
}
.navbarevents__TimelineList {
  border-bottom: 1px solid rgb(202, 198, 198);
  display: flex;
  background-color: #faf7f2;
  color: grey;
}
.navbarevents__TimelineList button {
  list-style-type: none;
  background-color: #faf7f2;
  color: grey;
  padding: 10px 0px 18px 18px;
  font-size: 18px;
  border: none;
}

.eventsCardsAndTagsDisplay {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red;*/
}

.events-cards-list {
  width: 80%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: "Mulish", sans-serif;
}
.events-tags-list {
  width: 20%;
  background-color: white;
}
.events-tags-list ul {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.events-tags-list button {
  background-color: rgb(211, 205, 205);
  list-style-type: none;
  color: #616161;
  border: none;
  padding: 5px 2px;
  align-items: left;
  margin-bottom: 3px;
  font-size: 13.5px;
  font-style: normal;
  border-radius: 18px;
  font-family: "Mulish", sans-serif;
}

.events-tags-list button:hover {
  background-color: orangered;
  color: white;
  border: none;
}

@media screen and (max-width: 811px) {
  .navbarEvents__list {
    display: flex;
    flex-direction: column;
  }
  .navbarEvents__listItems {
    margin-bottom: 10px;
  }

  .events-tags-list {
    display: none;
  }

  .events-cards-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .eventUnitCard {
    width: 150%;
    align-items: center;
  }

  .eventUnitCard img {
    width: 150%;
    align-items: center;
  }
}

.eventUnitCard {
  margin-top: 20px;
  width: 48%;
  background-color: white;
}

.eventUnitCard img {
  margin-left: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 98%;
}
.eventUnitCard h2 {
  background-color: white;
  color: black;
  padding: 5px 0px 8px 8px;
  margin-left: 32px;
  font-size: 18px;
  letter-spacing: 0.5;
}

.eventUnitCard button {
  background-color: rgb(250, 130, 15);
  padding: 12px 15px;
  border: none;
  font-size: 11px;
  float: right;
  margin-top: 50px;
}
.eventUnitCardDetails {
  background-color: white;
  color: grey;
  padding: 2px 0px 8px 8px;
}

.itemLabel {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  background-color: white;
  color: #616161;
  font-family: "Mulish", sans-serif;
}
.itemLabel li b {
  background-color: white;
  color: #616161;
}
.itemLabel li {
  background-color: white;
  color: #616161;
}

.itemValue {
  margin-top: -4.5%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  background-color: white;
}

.itemValue li {
  background-color: white;
  color: #616161;
}

#shortDescription {
  background-color: white;
  color: #616161;
  margin-left: 28px;
}
